* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

body {
  background: #d8e8ff;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */

.sidebar {
  width: 350px;
  background: #fff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px 20px;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.logo {
  margin-left: -20px;
  width: 250px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 18px 30px;
  cursor: pointer;
}

.sidebar li.active {
  background: #e6effd;
  color: #2f7af0;
  box-shadow: 3px -1px 5px 0 #2f7af0;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  background-color: #f6f6f7;
  border-radius: 5px;
}

.dashboard-icon {
  margin-right: 10px;
}

.sidebar li a {
  text-decoration: none;
  color: #0c0c0c;
}

.sidebar-bottom {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-bottom a {
  text-decoration: none;
  color: #0a0a0a;
}

/* Main Content */

.main-content {
  flex: 1;
  padding: 0;
}

.header {
  height: 80px;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 250px;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
}

.search-box input:hover{
  background-color: #f6f6f7;
  transition: 0.5s;
}

.search-box img {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.Notification {
  width: 30px;
  height: 35px;
  position: relative;
}

.randomNumber {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f7af0;
  border-radius: 50%;
  top: -6px;
  right: -8px;
  color: white;
  height: 20px;
  width: 20px;
  font-size: 14px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile h4 {
  font-size: 18px;
}

.profile p {
  font-size: 16px;
  font-weight: 500;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ddd;
}

/* Card */

.shift-card {
  width: 673px;
  background: #fff;
  margin: 60px 80px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0 rgb(211, 210, 210);
}

.shift-card h2 {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 20px;
}

.shift-card h4 {
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

.shift-info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #555;
  font-weight: 600;
  font-size: 16px;
}

.shift-date-time {
  width: 286px;
  display: flex;
  justify-content: space-between;
}

hr {
  border: none;
  border-top: 1px solid #444444;
  margin: 23px 0;
}

.title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.progress-bar {
  width: 419px;
  height: 16px;
  background: #e8f2ff;
  border-radius: 20px;
}

.progress-fill {
  width: 80%;
  height: 100%;
  background: #2f7af0;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  animation: loadProgress 2s ease forwards;
}

@keyframes loadProgress {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes shine {
  from {
    left: -120px;
  }
  to {
    left: calc(100% + 120px);
  }
}

.progress-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 20px;
  height: 100%;
  background: rgba(182, 222, 255, 0.5);
  transform: skewX(-20deg);
  animation: shine 3s infinite;
}

.progress-percentage {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.status {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-top: 15px;
}

.dot {
  width: 16px;
  height: 16px;
  background: green;
  border-radius: 50%;
  margin-top: 5px;
}

.checked-in {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.status p {
  font-weight: 500;
  font-size: 16px;
}

.worker {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  font-size: 18px;
}

.worker img {
  width: 73px;
  height: 71px;
  border-radius: 50%;
  object-fit: cover;
}

.worker a {
  text-decoration: none;
  color: #2f7af0;
  font-size: 16px;
}

.worker h4 {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 60px;
  display: flex;
  gap: 80px;
}

.flag-btn {
  width: 232px;
  height: 40px;
  background: #fff;
  border: 1px solid #ff0101;
  color: #ff0101;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0 rgb(230, 230, 230);
}

.complete-btn {
  width: 232px;
  height: 40px;
  background: #2f7af0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0 rgb(204, 204, 204);
}
